[Unit]
Description=Starts the device control for aquaponics system
After=multi-user.target

[Service]
ExecStart=/usr/bin/eensymacaqupone
Type=simple

[Install]
WantedBy=multi-user.target