[Unit]
Description=Starts the device control for aquaponics system
After=cfgwatch.service
BindsTo=cfgwatch.service


[Service]
Type=simple
Environment="PATH_APPCONFIG=/etc/aquapone.config.json" 
Environment="NAME_SYSCTLSERVICE=aquapone.service" 
Environment="MODE_SYSCTLCMD=0" 
Environment="MODE_DEBUGLVL=5" 
Environment="AMQP_SERVER=65.20.79.167:5672" 
Environment="AMQP_LOGIN=eensyiot-admin:33n5y4dm1n" 
Environment="AMQP_CFGCHNNL=config-alerts" 
Environment="GPIO_TOUCH=31" 
Environment="GPIO_ERRLED=33" 
Environment="GPIO_PUMP_MAIN=35"
ExecStart=/usr/bin/eensymacaqupone


[Install]
WantedBy=multi-user.target  